

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
  color: rgb(36, 35, 35);
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: darkgreen;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
  text-transform: uppercase;
  letter-spacing: 1px;

}

p {
  font-size: 16px;
  color: black;
  text-align: justify;
  padding-top: 20px;
}

img{
  width: 300px;
  height: 300px;
  border-radius: 60px;
  border: 3px solid #444;
  display: block;
  margin: 20px auto; 
}